.search {
  width: 100%;
  max-width: 1400px;
  margin: auto;
}
.search-container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 10px;
}
.search-container input {
  width: 100%;
  max-width: 400px;
  padding: 10px;
  border-radius: 5px;
  border: none;
  outline: none;
}
.search-container button {
  margin-left: 2px;
  padding: 10px;
  border-radius: 5px;
  border: none;
  background-color: #fff;
  cursor: pointer;
}
.search-container a {
  text-decoration: none;
  color: #000;
}
